<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.oldbit.spectron</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>Spectron</string>
	<key>CFBundleName</key>
	<string>Spectron</string>
	<key>CFBundleDisplayName</key>
	<string>Spectron</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIconFile</key>
	<string>spectron.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>spectron.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Spectron Snapshot</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spectron</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sna</string>
				<string>szx</string>
				<string>z80</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Tape</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tap</string>
				<string>tzx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Microdrive Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mdr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Disk Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>trd</string>
				<string>scl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Poke File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pok</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Compressed File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
