name: Build and Test

on:
  workflow_dispatch:

  push:
    paths:
      - 'src/**'
      - 'tests/**'
    branches: [ "main" ]
  pull_request:
    paths:
      - 'src/**'
      - 'tests/**'
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal
