name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    name: Build ${{ matrix.name }} (${{ matrix.rid }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Windows x64
            rid: win-x64
            bin: /
          - os: ubuntu-latest
            name: Windows ARM64
            rid: win-arm64
            bin: /
          - os: ubuntu-latest
            name: Linux x64
            rid: linux-x64
            bin: /
          - os: ubuntu-latest
            name: Linux ARM64
            rid: linux-arm64
            bin: /
          - os: macos-latest
            name: macOS x64
            rid: macOS-x64
            bin: /Spectron.app/Contents/MacOS/
          - os: macos-latest
            name: macOS ARM64
            rid: macos-arm64
            bin: /Spectron.app/Contents/MacOS/
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Publish
        run: |
          dotnet publish -r ${{ matrix.rid }} -p:DebugType=embedded -o ./dist/${{ matrix.rid }}${{ matrix.bin }} ./src/Spectron/Spectron.csproj

      - name: Package Windows
        if: startsWith(matrix.rid, 'win-')
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.zip"
          cd ./dist/${{ matrix.rid }}
          zip -r ../../${NAME} .
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Package Linux
        if: startsWith(matrix.rid, 'linux-')
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.tar.gz"
          cd ./dist/${{ matrix.rid }}
          chmod +x Spectron
          tar czf ../../${NAME} .
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Package macOS
        if: startsWith(matrix.rid, 'macos-')
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.zip"
          mkdir -p ./dist/${{ matrix.rid }}/Spectron.app/Contents/Resources
          cp ./src/Spectron/Assets/spectron.icns ./dist/${{ matrix.rid }}/Spectron.app/Contents/Resources/
          cp ./src/Spectron/Info.plist ./dist/${{ matrix.rid }}/Spectron.app/Contents/
          cd ./dist/${{ matrix.rid }}
          zip -r ../../${NAME} .
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ASSET_NAME }}
          path: ./dist/${{ matrix.rid }}


