name: Release
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    name: Build ${{ matrix.name }} (${{ matrix.rid }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Windows x64
            rid: win-x64
            bin: /
          - os: ubuntu-latest
            name: Windows ARM64
            rid: win-arm64
            bin: /
          - os: ubuntu-latest
            name: Linux x64
            rid: linux-x64
            bin: /
          - os: ubuntu-latest
            name: Linux ARM64
            rid: linux-arm64
            bin: /
          - os: macos-latest
            name: macOS x64
            rid: osx-x64
            bin: /Spectron.app/Contents/MacOS/
          - os: macos-latest
            name: macOS ARM64
            rid: osx-arm64
            bin: /Spectron.app/Contents/MacOS/
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Publish
        run: |
          dotnet publish -r ${{ matrix.rid }} -p:DebugType=embedded -o ./dist/${{ matrix.rid }}${{ matrix.bin }} ./src/Spectron/Spectron.csproj

      - name: Package Windows
        if: startsWith(matrix.rid, 'win-')
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.zip"
          cd ./dist/${{ matrix.rid }}
          zip -r ../${NAME} .
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Package Linux
        if: startsWith(matrix.rid, 'linux-')
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.tar.gz"
          cd ./dist/${{ matrix.rid }}
          chmod +x Spectron
          tar czf ../${NAME} .
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Install certificate
        if: startsWith(matrix.rid, 'osx-')
        env:
          P12_BASE64: ${{ secrets.APP_P12 }}
          P12_PASSWORD: ${{ secrets.APP_P12_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          
          # import certificate from secrets
          echo -n "$P12_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          
          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          
          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

      - name: Package macOS
        if: startsWith(matrix.rid, 'osx-')
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
        run: |
          VERSION="${{ github.ref_name }}"
          NAME="Spectron-${VERSION}-${{ matrix.rid }}.zip"
          mkdir -p ./dist/${{ matrix.rid }}/Spectron.app/Contents/Resources
          cp ./src/Spectron/Assets/spectron.icns ./dist/${{ matrix.rid }}/Spectron.app/Contents/Resources/
          cp ./src/Spectron/Info.plist ./dist/${{ matrix.rid }}/Spectron.app/Contents/
          
          # Sign
          codesign --force --deep --options=runtime --sign "Developer ID Application" "./dist/${{ matrix.rid }}/Spectron.app" --entitlements ./src/Spectron/entitlements.plist
          
          cd ./dist/${{ matrix.rid }}
          zip -r ../${NAME} .
          
          # Notarize & stamp
          xcrun notarytool submit ../${NAME} --apple-id "$APPLE_ID" --team-id "$TEAM_ID" --password "$APPLE_PASSWORD" --wait
          xcrun stapler staple ./Spectron.app
          
          # Generate new zip
          rm ../${NAME}
          zip -r ../${NAME} .
          
          echo "ASSET_NAME=$NAME" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ASSET_NAME }}
          path: ./dist/${{ env.ASSET_NAME }}
          compression-level: 0

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - run: ls -R ./artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: |
            Spectron release ${{ github.ref_name }}.
          files: |
            ./artifacts/**/*.zip
            ./artifacts/**/*.tar.gz

